header {
    @media(max-width: 442px) {
        border-bottom: none !important;
    }
}

.container-icons {
    // background-color: antiquewhite;
    margin-right: 18px;
    width: 7%;

    .row-icons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        // background-color: olive
        // color: rgb(164, 225, 255);
    }
}

/*  */
/* .container-profile { */
/*     &__fix-position {} */
/* } */