@use '../../sass/colors';

header {
    @media(max-width: 442px) {
        border-bottom: none !important;
    }


}

.shop-container-icons {
    margin-right: 18px;
    width: 7%;

    .row-icons {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$bg-primary;
    width: 100%;
    height: 50px;

    &__row-icons {
        @mixin theme($theme: colors.$facebook) {
            transition: 0.4s all ease-out;

            &:hover {
                background: $theme;
                color: colors.$white;
            }
        }

        display: flex;
        gap: 6px;

        .facebook-icon {
            @include theme;
        }

        .twitter-icon {
            @include theme($theme: colors.$twitter);
        }

        .instagram-icon {
            @include theme($theme: colors.$instagram);
        }

        .youtube-icon {
            @include theme($theme: colors.$youtube);

        }
    }
}







// src/components/Search.scss
.search-container {
    position: relative;

    .search-input-container {
        display: flex;
        align-items: center;
      }

      .clear-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #888;
      }
      
    .results-container {
        z-index: 1000000;
        position: absolute; // Cambiado a absolute
        top: 100%; // Se ajusta según sea necesario para la posición vertical
        left: 0;
        width: 100%;
        margin-top: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra para resaltar el contenedor
        background-color: colors.$white;

        .result-item {
            padding: 8px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: colors.$bg-primary;
                color: colors.$white;
            }
        }
    }
}