.swiper {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 50svh;
    margin-left: auto;
    margin-right: auto;

    .swiper-slide {
        background-size: cover;
        background-position: center;
        text-align: center;
        font-size: 18px;
        background: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }

    .mySwiper2 {
        height: 80%;
        width: 100%;
    }

    .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;

        .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
        }

        .swiper-slide-thumb-active {
            opacity: 1;
        }
    }
}



.cover-carousel {
    z-index: 1001 !important;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.055), rgba(7, 4, 4, 0.192));
    background-size: cover, contain;
    background-position: center, right bottom;
    background-repeat: no-repeat, no-repeat;
    position: absolute;
}


/* .carousel-indicators { */
/*     z-index: 10000001; */
/*     position: absolute; */
/*     left: 49%; */
/*     top: 750px; */
/*     transform: translateX(-50%); */
/*     display: flex; */
/*     justify-content: center; */
/*     align-items: center; */
/*  */
/*     .indicator { */
/*         width: 10px; */
/*         height: 10px; */
/*         border-radius: 50%; */
/*         background-color: #ccc; */
/*         margin: 0 5px; */
/*         cursor: pointer; */
/*  */
/*         &.active { */
/*             background-color: #333; */
/*         } */
/*     } */
/* } */
/*  */


.scroll-down-container {
    z-index: 10000001;
    left: 49%;
    top: 550px;
    position: absolute;

    .scroll-icon {
        cursor: pointer;
        height: 34px;
        width: 18px;
        position: relative;
        border-radius: 2em;
        border: 1.5px solid #d1d1d1;

        .circle {
            height: .4em;
            width: .4em;
            position: absolute;
            left: 50%;
            top: 15%;
            border-radius: .4em;
            background-color: #ffff;
            transform: translate(-50%, 0);
            animation: scroll-animate 5s ease-in-out infinite;
        }
    }

}


@keyframes scroll-animate {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }
    20%,
    60% {
        opacity: 0.9;
    }
    90%,
    100% {
        opacity: 0;
        transform: translate(-50%, 150%);
    }
}